* {
  font-family: "Spoqa Han Sans", "Sans-serif";
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"),
    url("./font/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("./font/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("./font/SpoqaHanSansNeo-Bold.ttf") format("truetype"),
    url("./font/SpoqaHanSansNeo-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"),
    url("./font/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("./font/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("./font/SpoqaHanSansNeo-Regular.ttf") format("truetype"),
    url("./font/SpoqaHanSansNeo-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 300;
  src: local("Spoqa Han Sans Light"),
    url("./font/SpoqaHanSansNeo-Light.woff2") format("woff2"),
    url("./font/SpoqaHanSansNeo-Light.woff") format("woff"),
    url("./font/SpoqaHanSansNeo-Light.ttf") format("truetype"),
    url("./font/SpoqaHanSansNeo-Light.otf") format("opentype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 100;
  src: local("Spoqa Han Sans Thin"),
    url("./font/SpoqaHanSansNeo-Thin.woff2") format("woff2"),
    url("./font/SpoqaHanSansNeo-Thin.woff") format("woff"),
    url("./font/SpoqaHanSansNeo-Thin.ttf") format("truetype"),
    url("./font/SpoqaHanSansNeo-Thin.otf") format("opentype");
}

#root {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f0f1f4;
}

body {
  padding: 0;
  margin: 0;
}

.fc-scroller-harness {
  padding: 1em 0 2em;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: rgb(245 166 37);
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-tabs .ant-tabs-ink-bar {
  background-color: rgb(245 166 37);
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-tabs .ant-tabs-tab:hover {
  color: rgb(245 166 37 / 70%);
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-tabs,
.ant-tabs-content-holder {
  flex: 1;
}

.ant-tabs-content.ant-tabs-content-top,
.ant-tabs-tabpane.ant-tabs-tabpane-active {
  height: 100%;
}

.ant-picker {
  width: calc(100% - 100px);
}
