#root {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.fc {
  width: 60%;
  height: 100%;
}

.fc .fc-daygrid-day-frame:hover {
  background: aliceblue;
  cursor: pointer;
}

.fc-h-event .fc-event-title-container {
  cursor: pointer;
}

.fc-daygrid-dot-event .fc-event-title {
  font-weight: normal !important;
}
